<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>"greencircle"</title>
        <link rel="icon" href="./assets/mrgreen.png">
        <link rel="stylesheet" type="text/css" href="./main.css">
        <script type="module">
CONFIG_SUBST
         globalThis.mode = "greencircle";
        </script>
        <script type="module" src="./main.js"></script>
    </head>
    <body id="lcolonq-gc-body">
        <div id="lcolonq-gc-hero">
            <div id="lcolonq-gc-center">
                <div id="lcolonq-gc-spin">
                    <img id="lcolonq-gc-logo" src="./assets/mrgreen.png">
                    <svg id="lcolonq-gc-spin-image" viewBox="0 0 400 400">
                        <defs>
                            <path id="rotate"
                                  d="M 200, 200
                                      m -100, 0
                                      a 100,100 0 1,1 200,0
                                      a 100,100 0 1,1 -200,0
                                      " />
                        </defs>
                        <text>
                            <textPath xlink:href="#rotate">
                                "greencircle" unlimited energy industrial-strength zone
                            </textPath>
                        </text>
                    </svg>
                </div>
            </div>
        </div>
        <div id="lcolonq-gc-rest">
            <div id="lcolonq-gc-explainer">
                <h1>welcome "greencircle"</h1>
                <p>
                    "greencircle" (henceforth G.C.) is an integrated platform for strategic research and development.
                    At "greencircle" we search for a disruptive business model that repeatedly and scalably achieves product-market fit.
                    We're tastemakers, embracing creative play-at-work in order to avoid stagnation.
                    "greencircle" enables lateral movement out of the traditional linear system and into nonlinear futures.
                    Our team is all pinch hitters, elite ninjas and commandos ready for action.
                    "greencircle" is always evolving towards the next iteration, ensuring we are ready (and willing) for the transition to the information age.
                    "greencircle" is antifragile.
                    "greencircle" is next up.
                    Members of "greencircle" utilize sophisticated feedback loops to growth hack your life.
                    "greencircle" isn't afraid to speak up, and always has your back.
                    We work hard, but we also like to play hard.
                    "greencircle" is an intergalactic space opera.
                    "greencircle" is Web 4.0 - the next one.
                    We never flinch, even if our opponents are serene grace jirachi kings rock iron head spammers.
                    Yeah I know the king's rock doesn't do anything you dork I love you.
                </p>
            </div>
            <div id="lcolonq-gc-relentless">
                <h1>"greencircle" is relentless</h1>
            </div>
            <div id="lcolonq-gc-panels">
                <div class="lcolonq-gc-panel" id="lcolonq-gc-panel-lcolonq">
                    <h2>LCOLONQ</h2>
                    little ffreak. online <span class="lcolonq-gc-now">now</span>.
                </div>
                <div class="lcolonq-gc-panel" id="lcolonq-gc-panel-prodzpod">
                    <h2>prodzpod</h2>
                    cool guy (they). creatureform. gizmo development and game development also. inconceivably powerful.
                    also they're live <span class="lcolonq-gc-now">right now</span> btw you should go say hi.
                </div>
                <div class="lcolonq-gc-panel" id="lcolonq-gc-panel-tyumici">
                    <h2>Tyumici</h2>
                    programming, art, music, tinkering.
                    sometimes a little bit of gaming, too.
                    a fine fellow. we love tyumici.
                    if you were wondering, they're streaming <span class="lcolonq-gc-now">now</span>.
                    you are encouraged to investigate this.
                </div>
            </div>
        </div>
    </body>
</html>
