/* auth */
.lcolonq-auth {
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.lcolonq-auth-box-outer {
    grid-row: 2;
    grid-column: 2;
}

.lcolonq-auth-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.lcolonq-auth-box h1 {
    margin-top: 0rem;
}

#lcolonq-auth-submit {
    display: none;
}

#lcolonq-auth-below {
    text-align: center;
}

#lcolonq-auth-register {
    font-size: 0.7rem;
    color: CanvasText;
}

#lcolonq-auth-error {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    color: red;
}
