<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>LCOLONQ</title>
        <link rel="icon" href="./assets/mrgreen.png">
        <link rel="stylesheet" type="text/css" href="./main.css">
        <script type="module">
CONFIG_SUBST
         globalThis.mode = "pubnix";
        </script>
        <script type="module" src="./main.js"></script>
    </head>
    <body class="lcolonq-pubnix-index">
        <!-- RINGBEARER -->
        <canvas id="lcolonq-pubnix-index-canvas"></canvas>
        <div id="lcolonq-pubnix-index-title">
            <span class="lcolonq-pubnix-index-letter" id="lcolonq-pubnix-index-letter-0">L</span><span class="lcolonq-pubnix-index-letter" id="lcolonq-pubnix-index-letter-1">C</span><span class="lcolonq-pubnix-index-letter" id="lcolonq-pubnix-index-letter-2">O</span><span class="lcolonq-pubnix-index-letter" id="lcolonq-pubnix-index-letter-3">L</span><span class="lcolonq-pubnix-index-letter" id="lcolonq-pubnix-index-letter-4">O</span><span class="lcolonq-pubnix-index-letter" id="lcolonq-pubnix-index-letter-5">N</span><span class="lcolonq-pubnix-index-letter" id="lcolonq-pubnix-index-letter-6">Q</span>
            <div id="lcolonq-pubnix-index-subtitle">
            </div>
        </div>
        <div id="lcolonq-pubnix-index-header">
            <a href="https://twitch.tv/LCOLONQ">
                <marquee id="lcolonq-pubnix-index-marquee">
                </marquee>
            </a>
        </div>
        <div id="lcolonq-pubnix-index-footer">
            <a href="https://pub.colonq.computer/~llll/cgi-bin/ring?me=llll&offset=-1">back</a>
            <a class="right" href="https://pub.colonq.computer/~llll/cgi-bin/ring?me=llll&offset=1">next</a>
        </div>
        <audio id="lcolonq-pubnix-index-audio-voice-0" src="assets/voice/0.wav"></audio>
        <audio id="lcolonq-pubnix-index-audio-voice-1" src="assets/voice/1.wav"></audio>
        <audio id="lcolonq-pubnix-index-audio-voice-2" src="assets/voice/2.wav"></audio>
        <audio id="lcolonq-pubnix-index-audio-voice-3" src="assets/voice/3.wav"></audio>
        <audio id="lcolonq-pubnix-index-audio-voice-4" src="assets/voice/4.wav"></audio>
        <audio id="lcolonq-pubnix-index-audio-voice-5" src="assets/voice/5.wav"></audio>
        <audio id="lcolonq-pubnix-index-audio-voice-6" src="assets/voice/6.wav"></audio>
    </body>
</html>
