<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>log in with clomq's net hooray</title>
        <link rel="icon" href="./assets/mrgreen.png">
        <link rel="stylesheet" type="text/css" href="./main.css">
        <script type="module">
CONFIG_SUBST
         globalThis.mode = "auth";
        </script>
        <script type="module" src="./main.js"></script>
    </head>
    <body>
        <div id="lcolonq-auth-login" class="lcolonq-auth lcolonq-invisible">
            <div class="lcolonq-auth-box">
                <h1>log in</h1>
                <form id="lcolonq-auth-form">
                    <div>
                        <label>username:</label>
                        <input id="lcolonq-auth-username" type="text">
                    </div>
                    <div>
                        <label>password:</label>
                        <input id="lcolonq-auth-password" type="password">
                    </div>
                    <input id="lcolonq-auth-submit" type="submit" value="log in now!!">
                </form>
                <a href="https://api.colonq.computer/register">click here to register or reset password</a>
            </div>
            <div id="lcolonq-auth-error" class="lcolonq-invisible">
                login failed. either you used the wrong credentials or something is messed up on my end :3
            </div>
        </div>
    </body>
</html>
